<nav>
<button type="button" class="btn btn-primary mx-2" routerLink="databinding">Databinding</button>
<button type="button" class="btn btn-primary mx-2" routerLink="directives">Directives</button>
<button type="button" class="btn btn-primary mx-2" routerLink="parent">Parent</button>
<button type="button" class="btn btn-primary mx-2" routerLink="angform">AngularForms</button>
<button type="button" class="btn btn-primary mx-2" routerLink="pipes">Pipes</button>
<button type="button" class="btn btn-primary mx-2"><i class="fa fa-user-o" aria-hidden="true"></i></button>
<button type="button" class="btn btn-primary mx-2" routerLink="angmat">Angular-mat</button>
<button type="button" class="btn btn-primary" routerLink="crud">Crud</button>


</nav>
